---
import Mountain from "@components/Mountain.astro";

const randomize = (value) => {
  return value + (Math.random() < 0.5 ? -1 : 1);
};

const mountains = [
  { width: `${randomize(24)}vw`, height: `${randomize(4)}rem`, left: "-5%" },
  { width: `${randomize(24)}vw`, height: `${randomize(5.5)}rem`, left: "5%" },
  { width: `${randomize(30)}vw`, height: `${randomize(6)}rem`, left: "15%" },
  { width: `${randomize(30)}vw`, height: `${randomize(8.5)}rem`, left: "30%" },
  { width: `${randomize(30)}vw`, height: `${randomize(10)}rem`, right: "30%" },
  { width: `${randomize(30)}vw`, height: `${randomize(6)}rem`, right: "15%" },
  { width: `${randomize(24)}vw`, height: `${randomize(5.5)}rem`, right: "5%" },
  { width: `${randomize(24)}vw`, height: `${randomize(4)}rem`, right: "-5%" },
].sort(() => Math.random() - 0.5);
---

<div id="mountain">
  <div id="horizon" class="absolute top-[55%] z-40 w-full h-1 bg-white blur-xs"></div>
  {mountains.map((mountain) => <Mountain {...mountain} />)}
</div>
